@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat:wght@300;400;500;600;700&display=swap");

// Fonts
$font: "Poppins", sans-serif;
$mont: "Montserrat", sans-serif;
$enable-responsive-font-sizes: true;

// Brand colours
$primary: #111111;
$secondary: #23a1d3;

// Monochrome colours
$dark: #222222;
$gray-dark: #333;
$gray: #666;
$gray-light: #ccc;
$border: #e6e6e6;
$light: #f8f9fa;

// System colours
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// Buttons
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1rem;
$input-btn-font-size: 0.8rem;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 0.75rem;
$input-btn-font-size-sm: 0.75rem;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-font-size-lg: 1rem;

// Forms
$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-font-size: 1rem;
$input-color: $gray-dark;
$input-border-radius: 3px;
$input-focus-border-color: $secondary;
$input-btn-focus-color: transparent;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bs-stepper/dist/css/bs-stepper.min.css";
@import "../../node_modules/react-alice-carousel/lib/alice-carousel.css";

html,
body {
  overflow-x: hidden;
  font-family: $font;
  color: black;
  background: white;

  @media (max-width: 767px) {
    text-align: center;
    font-size: 14px;
  }
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

h1 {
  font-family: $mont;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
h2 {
  font-family: $mont;
  font-size: 2.2rem;
}
h3 {
  font-family: $mont;
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
h5 {
  font-weight: 400;
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}

@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Links, Buttons and Forms

a:hover,
a > *:hover {
  text-decoration: none !important;
}

.link-flat {
  font-weight: 500;
  transition: 0.2s ease;
  font-family: $mont;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $mont;
  border-radius: 0;
}

.btn-light {
  background: white;
  border-color: white;

  &:hover {
    background: $light;
    border-color: $light;
  }
}

form {
  label {
    font-family: $mont;
    font-size: 0.9rem;
    color: $gray-dark;
  }

  .btn {
    margin-top: 1.5rem;
  }

  &.form-inline .btn {
    margin: 0;
  }

  .custom-control-label::before,
  .custom-control-label::after {
    top: 2px;
  }

  .input-group-prepend {
    .input-group-text {
      background: white;
    }
  }
}

.form-check-input {
  margin-top: 0.2rem;
}

// Images

.img-container {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% !important;
    object-fit: cover;
  }
}

.img-container-sm {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 70%;
  }

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% !important;
    object-fit: cover;
  }
}

.img-container-lg {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 120%;
  }

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% !important;
    object-fit: cover;
  }
}

// Lists

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Cards and accordion

.accordion {
  .card {
    border-left: none;
    border-right: none;
    display: flex;
    flex-wrap: wrap;

    .card-header {
      background: white;
      cursor: pointer;
      border: none;
      padding: 1rem 0;
      position: relative;
      width: 100%;
      flex-basis: 100%;
      order: 1;

      &:after {
        content: "+";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
      }
    }

    .card-body {
      font-size: 0.9rem;
      padding: 1rem 0;
    }

    .collapsing,
    .collapse.show {
      order: 2;

      & + .card-header:after {
        content: "-";
      }
    }
  }
}

// Stepper

.step-trigger:focus {
  color: $secondary !important;
}

.active .bs-stepper-circle {
  background-color: $secondary !important;
}

.bs-stepper-content .content {
  padding-top: 2rem;
}

// Layout Components

.container-wide {
  @media (min-width: 576px) {
    width: 100%;
    max-width: 99%;
  }

  @media (min-width: 768px) {
    max-width: 95%;
  }

  @media (min-width: 992px) {
    max-width: 90%;
  }

  @media (min-width: 1200px) {
    max-width: 85%;
  }

  @media (min-width: 1600px) {
    max-width: 80%;
  }
}

.container-narrow {
  @media (min-width: 576px) {
    max-width: 90%;
  }

  @media (min-width: 768px) {
    max-width: 75%;
  }

  @media (min-width: 992px) {
    max-width: 60%;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }

  @media (min-width: 1600px) {
    max-width: 40%;
  }
}
.container-full {
  max-width: 95%;
}

@media (min-width: 1400px) {
  .col-xl-24 {
    max-width: 20%;
    width: 20%;
    float: left;
  }
}

.small-gutter {
  .col:not(:first-of-type) {
    padding-left: 0.5rem;
  }

  .col:not(:last-of-type) {
    padding-right: 0.5rem;
  }

  .col-6 {
    padding: 0 0.5rem;

    @media (min-width: 1500px) {
      padding: 0 1rem;
    }
  }
}

.wide-gutter {
  .col-12 {
    padding: 1rem;
  }

  @media (min-width: 768px) {
    margin-left: -2rem;
    margin-right: -2rem;

    .col-12,
    .col-6 {
      padding: 1rem 2rem;
    }
  }
}

// Global Identifiers

.font {
  font-family: $font;
}

.font-alt,
.text-alt {
  font-family: $mont;
}

.text-gray-dark {
  color: $gray-dark !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-light {
  color: $gray-light !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline;
}

// Navigation

.nav-tabs {
  border: none;

  .nav-link {
    padding: 1.25rem;
    border: none;
    border-radius: 0;
    font-family: $mont;
    font-weight: 600;
    color: $gray;
    border-bottom: 2px solid $gray-light;

    &:focus {
      outline: none;
    }

    &.active {
      border: none;
      color: black;
      border-bottom: 2px solid black;
    }
  }
}

// Navbar
.minimal-header {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;

  .header-logo {
    margin-right: 40px;
    display: flex;
    height: 50px;
    align-items: center;

    svg {
      height: 25px;
      fill: black;
    }
  }

  a {
    color: black;
  }
}

// Light theme
$headerbg: white;
$headertext: black;
$headerborder: 2px solid $light;
$formbg: white;
$formborder: 1px solid $light;
$formborderfocus: 1px solid $gray;
$headersecondarybg: white;

// Dark theme
$headerbg: $dark;
$headertext: white;
$headerborder: none;
$formbg: $gray-dark;
$formborder: none;
$formborderfocus: none;
$headersecondarybg: $gray-dark;

header {
  a,
  .header-dropdown-link {
    color: $headertext;
    text-decoration: none;
    font-family: $mont;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.2s ease;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;

    &:hover {
      color: $secondary;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .header-primary {
    position: fixed;
    width: 100%;
    top: 0;
    background: $headerbg;
    z-index: 101;
    border-bottom: $headerborder;

    .container {
      min-height: 75px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .header-left {
      display: flex;
      flex: 1;
      align-items: center;

      .header-logo {
        margin-right: 40px;
        display: flex;
        height: 50px;
        align-items: center;

        svg {
          height: 25px;
          fill: $headertext;
        }
      }

      .header-search {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;

        form {
          position: relative;

          input {
            display: block;
            font-family: $mont;
            width: 100%;
            text-overflow: ellipsis;
            box-shadow: none;
            transition: 0.2s ease;
            color: $headertext;
            background: $formbg;
            border: $formborder;
            border-radius: 3px;
            height: 45px;
            padding-left: 1.25rem;

            &:focus {
              border: $formborderfocus;
              outline: none;
            }
          }

          button {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin: 0;
          }
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;

      a,
      .header-dropdown {
        margin-left: 30px;
      }

      .header-dropdown {
        & > a {
          margin: 0;
        }

        .header-dropdown-content {
          right: 0;
          top: calc(25px / 2 + 50px);

          &:before {
            right: 0.5rem;
          }
        }
      }
    }
  }

  .header-secondary {
    position: relative;
    top: 75px;
    width: 100%;
    background: $headersecondarybg;
    border-bottom: $headerborder;
    margin-bottom: 75px;
    z-index: 100;

    .header-menu {
      position: relative;
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      padding: 0 30px;
      justify-content: center;
      align-items: center;

      a,
      .header-dropdown-link {
        padding: 5px 30px;
        margin: 0 15px;
        font-size: 0.75rem;
        font-weight: 600;
      }

      .header-dropdown-link:hover {
        color: white;
      }

      .header-dropdown-content {
        left: 50%;
        transform: translateX(-50%);
        top: 50px;

        a span {
          text-align: center;
        }

        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .header-dropdown {
    position: relative;

    .header-dropdown-content {
      background: $light;
      border: 1px solid $gray-light;
      border-top: none;
      transition: 0.2s ease;
      position: absolute;
      visibility: hidden;
      opacity: 0;

      a {
        color: black;
        margin: 0;
        padding: 0.9rem 1.5rem;
        height: auto;
        font-size: 0.7rem;
        border-bottom: 1px solid $border;

        &:hover {
          color: $secondary;
        }

        span {
          width: 100%;
          white-space: nowrap;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: -0.5rem;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid white;
      }
    }

    .header-dropdown-content:hover,
    > a:hover + div,
    > .header-dropdown-link:hover + div {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Footer

.box-links {
  margin: 5rem 0 1.5rem;
  font-size: 14px;

  .col-12 {
    border-left: 2px solid $border;

    @media (max-width: 767px) {
      border: none;
      border-top: 2px solid $border;
      padding: 0;
    }

    &:first-of-type {
      border: none;
    }

    a {
      padding: 1rem 0;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-evenly;
      font-weight: 500;
      color: $gray;

      img {
        height: 40px;
        margin: auto 0;
      }

      span {
        display: block;
        font-size: 0.75rem;
        margin-top: 0.4rem;
      }

      & > div {
        width: 70%;
      }
    }
  }
}

footer {
  color: white;
  background: linear-gradient(
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.9) 50%,
    rgba(17, 17, 17, 1) 70%
  );

  .feedrow {
    position: relative;
    padding: 100px 0;

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1.25rem 0;
      width: 250px;
    }
  }

  .footerrow {
    padding-bottom: 50px;

    svg {
      width: 225px;
      fill: white;
    }

    .social-links {
      margin: 1rem 0;
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        margin: 0.75rem;

        svg {
          width: 1.75rem;
          fill: $gray;
          transition: 0.2s;
        }

        &:hover svg {
          fill: $secondary;
        }
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;

      a {
        margin: 0.25rem 0;
        transition: 0.2s;
        color: $gray;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }

    form {
      label {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        color: $gray;
      }

      .btn {
        margin-left: 1rem;
      }
    }
  }

  .copyrightrow {
    padding: 25px 0;
    position: relative;
    color: $gray;

    a {
      color: $gray;
      transition: all 0.2s;

      &:hover {
        color: $secondary;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 1px solid #333;
    }

    .col-12 {
      padding: 5px 0;
    }
  }
}

// Block

.block-wrapper {
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }

  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h3 {
      color: $gray-dark;
      margin: 0;
    }

    a {
      font-size: 1rem;
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
  }

  .block-body {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;

    .block-product {
      display: inline-block;
      margin-right: 20px;
      width: 40%;

      @media (min-width: 768px) {
        width: 25%;
        margin-right: 30px;
      }

      @media (min-width: 1200px) {
        width: 15%;
        margin-right: 40px;
      }
    }

    .block-post {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      width: 40%;
      height: 100%;
      white-space: initial;

      .blog-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      @media (min-width: 768px) {
        width: 25%;
        margin-right: 30px;
      }

      @media (min-width: 1200px) {
        width: 25%;
        margin-right: 40px;
      }
    }

    .blog-meta {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

// Page banner

.page-banner {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .banner-text {
    width: 50%;

    @media (max-width: 1200px) {
      width: 100%;

      h1 {
        font-size: 2rem;
      }
    }

    h1 {
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
    }

    p {
      // font-weight: 500;
    }
  }

  .banner-image {
    width: 50%;

    @media (max-width: 1200px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    padding: 0;
    text-align: center;

    .page-banner-text {
      h1 {
        margin: 0;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}

// Account

.layout-minimal {
  width: 95%;
  max-width: 420px;
  // min-height: 70vh;
  padding-top: 3rem;
  text-align: left;
  margin: 0 auto;

  h2,
  p {
    text-align: center;
  }
}

.layout-minimal-links {
  text-align: center;
  padding-bottom: 2rem;
  display: none;

  a {
    text-decoration: none;
    font-family: $mont;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    transition: 0.2s ease;
    padding: 5px;
    margin: 0 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .active-link {
    text-decoration: underline;
  }
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
  }

  .profile-picture {
    border-radius: 50%;
    background: $gray-dark;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .welcome-text {
    font-size: 0.9rem;

    span {
      font-family: $mont;
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.2s ease;
    }
  }
}

.profile-picture {
  border-radius: 50%;
  background: $gray-dark;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.welcome-text {
  font-size: 0.9rem;
  padding: 1rem;
  margin-bottom: 1rem;

  span {
    font-family: $mont;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.2s ease;
  }
}

.account-nav {
  max-width: 350px;
  font-size: 14px;

  a {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0;
    transition: all 0.2s ease;
    border-left: 2px solid white;
    position: relative;

    &:hover {
      color: $secondary;
      text-decoration: none;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }

    div {
      margin-left: 1.25rem;
      font-family: $mont;
      font-weight: 400;
    }

    &.active {
      color: $secondary;
      border-left: 2px solid $secondary;
      border-radius: 0;
      // background: #eff8fc;
    }

    &:not(:first-of-type):after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background: $border;
    }
  }
}

.account-wrapper {
  padding-left: 2rem;
  font-size: 14px;
  max-width: 800px;
  margin-left: auto;

  input {
    font-size: 14px;
  }
}

.account-table {
  font-size: 14px;

  thead {
    th {
      border-top: 0;
      // padding: 1.25rem 0.75rem;
      padding-top: 1rem;
    }
  }

  td {
    padding: 1.5rem 0.75rem;
  }
}

// Messages

.chat {
  .chat-top {
    padding: 1.5rem;
    border-bottom: 1px solid $border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sender {
      font-weight: 600;
      font-family: $mont;
      font-size: 1.1rem;
    }
  }

  .chat-body {
    padding: 1rem;
    height: calc(100vh - 500px);
    overflow-y: scroll;

    .chat-message {
      width: 60%;
      margin-bottom: 2rem;

      .message-body {
        padding: 1rem;
        border-radius: 10px;
        background: $light;
      }

      .message-time {
        margin: 0.5rem 0 0 1rem;
        color: $gray;
        font-size: 12px;
      }

      &.sent {
        margin-left: auto;

        .message-body {
          background: $secondary;
          color: white;
        }

        .message-time {
          text-align: right;
          margin: 0.5rem 1rem 0 0;
        }
      }
    }
  }

  .chat-bottom {
    padding: 1rem;
    border-top: 1px solid $border;

    input {
      border: none;
    }
  }
}

// Transactions

.order-details {
  max-width: 650px;
  margin: 0 auto;

  td {
    padding: 0.25rem 0;
  }

  .order-items {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    td {
      padding: 1rem 0;
    }
  }
}

// Settings

.account-settings {
}

// Cart Page

.cart-total {
  padding-left: 50px;
  text-align: left;

  .col-6 {
    span {
      display: block;
      margin: 0.5rem 0;
    }

    &:first-of-type span {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

// Protection

.protection-section {
  .block {
    padding: 50px 0;
  }

  h2 {
    text-transform: uppercase;
    margin: 4rem 0;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-bottom: 3rem;
  }

  strong {
    font-weight: 600;
    font-size: 1.1rem;
  }

  ul {
    li {
      list-style: disc inside !important;
      margin-bottom: 0.5rem;
    }
  }

  .coveredbox {
    border: 2px solid $border;
    padding: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  .row {
    .col-12 {
      padding: 0 2rem;
    }

    @media (min-width: 768px) {
      .col-12:first-of-type {
        padding: 0 3rem 0 0;
      }

      .col-12:last-of-type {
        padding-left: 0 0 0 3rem;
      }
    }
  }

  .protectionbox {
    border: 2px solid $border;
    padding: 2rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    @media (max-width: 767px) {
      width: 100%;
    }

    h4 {
      margin: 1rem 0 2rem;
    }

    img {
      height: 50px;
      filter: brightness(0) saturate(100%);
    }
  }
}

// Products

.single-product {
  .product-image {
    position: relative;

    .soldindicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: 10;
      color: white;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 1px;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .product-date {
    color: $gray;
    font-size: 0.75rem;
    margin: 0.4rem 0 0.2rem;
  }

  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    margin-bottom: 0.4rem;
  }

  .product-price {
    font-weight: 600;
  }

  .product-size {
    color: $gray-dark;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Product Page

.product-info {
  padding-left: 50px;

  .product-price {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;

    span {
      text-decoration: line-through;
      color: $gray;
      font-size: 1.25rem;
    }
  }

  .product-attributes {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 14px;

    div {
      padding: 0.5rem 0;

      span {
        font-weight: 400;
        text-transform: capitalize;

        &:not(:last-of-type):after {
          content: ",";
        }
      }
    }
  }

  .product-desc {
    padding: 0.5rem 0;
    margin-bottom: 1rem;

    * {
      font-size: 1rem !important;
      font-weight: 400 !important;
      text-align: left !important;
      font-family: $font !important;
      letter-spacing: 0 !important;
    }
  }

  .product-cart {
    margin-bottom: 1rem;

    button {
      margin-left: 1rem;
    }
  }

  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    button {
      width: calc(50% - 0.5rem);
    }
  }
}

// Add product

.add-product-form {
  .form-group,
  .form-row {
    margin-top: 2rem;

    .form-group {
      margin: 0;
    }
  }
}

// Posts

.single-post {
  .post-categories {
    margin-top: 1rem;

    .post-category {
      display: inline;
      color: $gray;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.75rem;
      font-family: $mont;

      &:not(:last-of-type):after {
        content: ", ";
      }
    }
  }

  .post-title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .post-date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: $gray;
    white-space: nowrap;
    overflow: hidden;

    svg {
      margin-right: 0.5rem;
    }
  }
}

// Post Page

.blog-post {
  .blog-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
    padding: 1rem;
    color: $gray;

    .blog-author {
      img {
        height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
      }
    }
  }

  .blog-categories {
    a {
      display: inline;
      color: $gray;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9rem;
      font-family: $mont;

      &:not(:last-of-type):after {
        content: ", ";
      }
    }
  }
}

// Shop Page

.shop-filters {
  max-width: 250px;

  .accordion .card .card-body {
    padding: 0 1.5rem 1rem 0.5rem;

    .form-check {
      margin: 0.5rem 0;
    }

    .form-check-label {
      text-transform: capitalize;
    }
  }
}

// Wishlist Page

.product-table {
  thead {
    th {
      padding: 1.25rem 0.75rem;
    }
  }

  td {
    padding: 1.5rem 0.75rem;
    vertical-align: middle;
  }
}

// About Page

.about-us {
  text-align: center;

  .block {
    padding: 100px 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }

    a {
      margin: 0.5rem;
    }
  }

  .aboutdesc {
    padding: 0;

    @media (min-width: 768px) {
      width: 75%;
      margin: 0 auto;
    }
  }

  h1 {
    text-transform: uppercase;
  }

  img {
    height: 600px;
    width: 80%;
    object-fit: cover;

    @media (max-width: 767px) {
      height: 300px;
      transform: translateY(-4rem);
    }
  }

  p {
    margin-bottom: 1rem;
    color: $gray-dark;
  }

  .aboutcommission {
    /* margin: 150px 0; */

    p {
      font-size: 1.2rem;
    }

    small {
      display: block;
      margin-top: 1rem;
    }

    .commissionboxes {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0 5rem;

      .commissionbox {
        padding: 1.5rem 2rem;
        width: 250px;
        border: 1px solid #aaa;
        font-size: 1.5rem;
        position: relative;

        span {
          width: 100%;
          font-size: 1rem;
          position: absolute;
          left: 50%;
          margin-top: 4rem;
          transform: translateX(-50%);
        }
      }
    }
  }
}

// Cards

.brand-card {
  position: relative;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.image-card {
  position: relative;
  border: none;

  h2 {
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    width: 90%;
    text-align: center;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    width: 90%;
  }
}

// 404 page

.fourohfour {
  text-align: center;

  @media (min-width: 768px) {
    margin: 50px auto 100px;
  }

  h1 {
    font-weight: 700;
    font-size: 8rem;
  }

  @media (max-width: 768px) {
    padding: 50px 0;

    h1 {
      font-size: 6rem;
    }

    img {
      width: 300px;
    }
  }
}
