@import "./custom.scss";

// Account

.layout-minimal {
  width: 95%;
  max-width: 420px;
  min-height: 70vh;
  text-align: left;
  margin: 0 auto;

  h2,
  p {
    text-align: center;
  }
}

.layout-minimal-links {
  text-align: center;
  padding-bottom: 2rem;
  display: none;

  a {
    text-decoration: none;
    font-family: $mont;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    transition: 0.2s ease;
    padding: 5px;
    margin: 0 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .active-link {
    text-decoration: underline;
  }
}

.account-nav-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  transition: all 0.2s ease;
  max-width: 350px;

  &:hover {
    text-decoration: none;
  }

  .profile-picture {
    border-radius: 50%;
    background: $gray-dark;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .welcome-text {
    font-size: 0.9rem;

    span {
      font-family: $mont;
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.2s ease;
    }
  }
}

.account-nav {
  max-width: 350px;

  a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    transition: all 0.2s ease;
    border-left: 3px solid white;

    &:hover {
      color: $secondary;
      text-decoration: none;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    div {
      margin-left: 1rem;
      font-family: $mont;
      font-weight: 400;
      letter-spacing: 1px;
    }

    &.active {
      color: $secondary;
      border-left: 3px solid $secondary;
      border-radius: 0;
    }
  }
}

// Protection

.protection-section {
  .block {
    margin: 50px 0;

    &:last-of-type {
      margin-bottom: 100px;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin: 4rem 0;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-bottom: 3rem;
  }

  strong {
    font-weight: 600;
    font-size: 1.1rem;
  }

  ul {
    li {
      list-style: disc inside !important;
      margin-bottom: 0.5rem;
    }
  }

  .coveredbox {
    border: 2px solid #eee;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .row {
    .col-12 {
      padding: 0 2rem;
    }

    @media (min-width: 768px) {
      .col-12:first-of-type {
        padding: 0 3rem 0 0;
      }

      .col-12:last-of-type {
        padding-left: 0 0 0 3rem;
      }
    }
  }

  .protectionbox {
    border: 2px solid #eee;
    padding: 2rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    @media (max-width: 767px) {
      width: 100%;
    }

    h4 {
      margin: 1rem 0 2rem;
    }

    img {
      height: 50px;
      filter: brightness(0) saturate(100%);
    }
  }
}
